<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PaGaApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PaGaApp.Properties.Settings>
            <setting name="Col1ToDo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Id Zlecenia</string>
                        <string>Imie klienta</string>
                        <string>Nazwisko klienta</string>
                        <string>Marka samochodu</string>
                        <string>Model auta</string>
                        <string>Data przyjęcia zlecenia</string>
                        <string>Numer rejestracyjny</string>
                        <string>Numer VIN</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Col2ToDo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Col1Done" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Id Zlecenia</string>
                        <string>Imie klienta</string>
                        <string>Nazwisko klienta</string>
                        <string>Marka samochodu</string>
                        <string>Model auta</string>
                        <string>Data przyjęcia zlecenia</string>
                        <string>Numer rejestracyjny</string>
                        <string>Numer VIN</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Col2Done" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Col1Klient" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Id Klienta</string>
                        <string>Imie</string>
                        <string>Nazwisko</string>
                        <string>Numer telefonu</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Col2Klient" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ColZlecenia" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Id Zlecenia</string>
                        <string>Imie klienta</string>
                        <string>Nazwisko klienta</string>
                        <string>Marka samochodu</string>
                        <string>Model auta</string>
                        <string>Data przyjęcia zlecenia</string>
                        <string>Numer rejestracyjny</string>
                        <string>Numer VIN</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ColKlienci" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Id Klienta</string>
                        <string>Imie</string>
                        <string>Nazwisko</string>
                        <string>Numer telefonu</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastSearchDone" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSerachToDo" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSerachKlient" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTimeDone" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTimeToDo" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDowolnaDone" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDowolnaToDo" serializeAs="String">
                <value />
            </setting>
        </PaGaApp.Properties.Settings>
    </userSettings>
<connectionStrings><add name="PaGaContext" connectionString="metadata=res://*/PaGaModels.csdl|res://*/PaGaModels.ssdl|res://*/PaGaModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\PaGaDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>